

#backvid {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background: url(back.jpg) center center fixed no-repeat;
}


#homelogo
{
    position:absolute;
    left:150px;
    bottom:150px;
    width :700px;
    height:222px;
}

#homeimg {
    width: 700px;
    height:222px;
}

